body {
	min-height: 100%;
	height: 100%;
	background-image: url(../images/bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

h1 {
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 80px;
	color: white;
}

.btn {
	border-radius: 20px;

}

.btn-group>.btn-group:last-child:not(:first-child)>.btn:first-child {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.btn-group>.btn-group:first-child:not(:last-child)>.btn:last-child, .btn-group>.btn-group:first-child:not(:last-child)>.dropdown-toggle {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}




